.calculateButton 
{
	background-color: #4CAF50;
	border: none;
	border-radius: 0.5cm;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: 'Inconsolata', monospace;
}

.inputField
{
	background-color: skyblue;
	border: none;
	border-radius: 10px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: 'Inconsolata', monospace;
}

.calculatorArea
{
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
	gap: 20px;
	margin: 20px;
	font-family: 'Inconsolata', monospace;
}

.outputText
{
	font-family: 'Inconsolata', monospace;
}

.outputArea
{
	display: flex;
	align-items: center;
	flex-direction: column;
}

.title
{
	display: flex;
	align-items: center;
	flex-direction: column;
	font-family: 'Inconsolata', monospace;
}