:root {
	--transition-time: 0.2s;
}

body {
	display: grid;
	place-items: center;
	background: url("images/blob-scene-haikei.svg");
	background-repeat: no-repeat;
	background-size: cover;
	animation: rotate 20s infinite alternate linear;
}

h3 {
	text-decoration-line: underline;
}

.calculateButton 
{
	background-color: #4CAF50;
	border: none;
	border-radius: 0.5cm;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: 'Inconsolata', monospace;
	margin: 12px;
	transition: all var(--transition-time);
}

.calculateButton:hover {
	background-color: #36983a;
	transition: all var(--transition-time);
}

.calculateButton:active {
	background-color: #196d1c;
	transition: all var(--transition-time);
}

.inputField
{
	background-color: skyblue;
	border: none;
	border-radius: 10px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: 'Inconsolata', monospace;
	transition: all var(--transition-time);
}

.inputField:hover
{
	background-color: #5cb5d8;
	transition: all var(--transition-time);
}

.calculatorArea
{
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
	gap: 20px;
	margin: 20px;
	font-family: 'Inconsolata', monospace;
	background-color: whitesmoke;
	border-radius: 12px;
	padding: 12px;
}

.outputText
{
	font-family: 'Inconsolata', monospace;
}

.outputArea
{
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: whitesmoke;
	border-radius: 12px;
	padding: 12px;
}

.title
{
	display: flex;
	align-items: center;
	flex-direction: column;
	font-family: 'Inconsolata', monospace;
	margin: 60px;
	background-color: whitesmoke;
	border-radius: 12px;
	padding: 12px;
}

@keyframes rotate {
	100% {
		background-position: 100% 100%;
	}
}